data/tokenizers
__pycache__/
.DS_Store
modded-nanogpt/
modded-nanogpt
data/datasets
data/manifest.json
data/docs_selected.jsonl
.mypy_cache/
.venv
logs/
pyrightconfig.json
wandb/
final_model.int8.ptz
final_model.pt 
atlas-29M-1B-final/outputs/atlas/checkpoints/
atlas-29M-1B-final/outputs/dense/checkpoints/
atlas-29M-1B-final/outputs/atlas/atlas_metadata/*.pt
atlas-100M-1B-final/
